<h3 class="text-align-left p-4">Lista de Cervezas</h3>
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <table class="table">
                            <thead class="thead-dark">  
                                <tr>
                                    <th >Nombre</th>
                                    <th >Tipo</th>
                                    <th >Precio</th>
                                    <th >Stock</th>
                                    <th > Agregar / Restar</th>
                                    <th >Foto</th>      
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr [ngClass]="{fondo : cerveza.clearance}" *ngFor= "let cerveza of cervezas">
                                    <td>{{cerveza.name | titlecase }}</td>
                                    <td>{{cerveza.style}}</td>
                                    <td>{{cerveza.price | currency:'CAD'}}</td> 
                                    <td>
                                        <span *ngIf = "cerveza.stock < 1"> Agotado</span>
                                        <span *ngIf = "cerveza.stock > 0">{{cerveza.stock}}</span>
                                    </td>
                                    <td>
                                        <button (click)="sumaBeer(cerveza)"> + </button>
                                        <button [disabled]="cerveza.stock <= 0" (click)="restaBeer(cerveza)"> - </button>
                                        <input type="text" (keypress)="soloNumeros($event)" [(ngModel)]="cerveza.stock">
                                    </td>
                                    <td><img [src]="cerveza.image" width="50px"  alt=""></td>
                                </tr>
                            </tbody>
                    
                        </table>
            </div>
        </div>
    </div>
